@import 
url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

body
{
    background-color: #343a40;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, #343a40, #2b2c31, #211f22, #151314, #000000);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.glowny
{
    width: 40%;
    background: none;
    background-color: white;
    box-shadow: 3px black;
    outline: 3px blueviolet solid;
}
.glowny1
{
    width: 80%;
    background: none;
    background-color: white;
    box-shadow: 2px black;
    outline: 3px green solid;
}

.glownylogin {
    width: 40%;
    background: none;
    background-color: white;
    box-shadow: 3px black;
    outline: 3px blueviolet solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.glownyregister {
    
}

input
{
    background-color: lightblue;
    border-radius: 5%;
}
.box
{
    width: 200px;
    height: 50px;
    margin: 10px;
}
a 
{
    text-decoration: none;
    outline: 2px black solid;
    background-color: lightblue;
}
.blok
{
    outline: 2px green solid;
    height: 200px;
    width: 80%;
    margin-top: 10px;
    font-size: 20px;
}
.lewy
{
    width: 50%;
    float: left;
    text-align: left;
    height: 85%;
}
.lewydol
{
    height: 10%;
    width: 50%;
    float: left;
    text-align: left;
}
.prawy
{
    width: 50%;
    float: right;
    text-align: left;
    height: 100%;
}
.dol
{
    background: none;
    background-color: white;
    height: 50px;
}
.panel {
    width: 100%;
}
.panel2
{
    text-decoration: none;
}
.details
{
    padding: 15px;
    text-align: left;
}

.prawy img {
    width: 150px;
    height: 150px;
    border: solid black 2px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 40px;
}

.lewydol a {
    margin-left: 5px;
    margin-bottom: 5px;
}

.zaloguj input{ 
    background-color: lightskyblue;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 20px;
    border: solid black 2px;
}

.register a {
    background-color: lightskyblue;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 20px;
    border: solid black 2cap;
}

.email input { 
    border-radius: 10px;
    border: solid black 2px;
}

.password input {
    border-radius: 10px;
    border: solid black 2px;
}